.parent {
  display: flex;
  justify-content: center;

}

.child {

}

.my_head {
  font-family: Verdana;
  font-weight: bold;
  font-size: 230%;
  width: 23em;
  text-align: center;
}