.parent {
  display: flex;
  justify-content: center;
  /*border: 2px solid rgb(80, 145, 27);*/
}

.my_head {
  font-family: Verdana;
  font-weight: bold;
  font-size: 230%;
  color: rgb(80%,0%,0%);
  width: 23em;
  text-align: center;
  /*border: 2px solid;*/
  margin: 0.6em 0em 0.3em 0em;
}

@media (max-width: 600px) {
  .my_text {
  font-family: Verdana;
  font-size: 100%;
  width: 42em;
  text-align: left;
  line-height: 120%;
  text-indent: 3em;
  /*border: 2px solid;*/
  margin: 0.5em 0em 0.5em 0em;
 }
}

@media (min-width: 600px) {
  .my_text {
   font-family: Verdana;
   font-size: 120%;
   width: 42em;
   text-align: left;
   line-height: 140%;
   text-indent: 2em;
   /*border: 2px solid;*/
   margin: 0.5em 0em 0.5em 0em;
 }
}

:link {
  color: rgb(80%,10%,10%);
}

:visited {
  color: rgb(80%,40%,40%);
}